// COLORS

$very-dark-blue: hsl(233, 47%, 7%);
$dark-desaturated-blue: hsl(244, 38%, 16%);
$soft-violet: hsl(277, 64%, 61%);
$white: hsl(0, 0%, 100%);
$transparent-white-paragraph: hsla(0, 0%, 100%, 0.75);
$transparent-white-headings: hsla(0, 0%, 100%, 0.6);


//FONT WEIGHTS

$reg: 400;
$bold: 700;

// FONTS FAMILIES

$inter: 'Inter', sans-serif;
$lexend-deca: 'Lexend Deca', sans-serif;